.cross-button {
    @include reset-button;
    @include square(48px);

    position: relative;
    border-radius: var(--border-radius-small);
    &:hover {
        cursor: pointer;
        border: 1px solid #000;
        box-shadow: inset 0 0 15px 3px rgba(0, 0, 0, .35);
    }

    @include hover {
        background-color: var(--color-accent);
    }

    &::after {
        @include abs-center;

        content: '';
        width: 50%;
        height: 2px;
        background-color: var(--color-dark);
        border-radius: 5px;
        box-shadow: 0 -8px, 0 8px;
    }

    // &::before,
    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 50%;
    //     left: 7px;
    //     width: 70%;
    //     height: 2px;
    //     background-color: var(--color-dark);
    //     border-radius: 5px;
    // }

    // &::before {
    //     rotate: 45deg;
    // }

    // &::after {
    //     rotate: -45deg;
    // }
}